<header>
  <a href="/profile">
    <img src="/images/trapezoid_logo.svg">
  </a>
  <div id="top-menu">
    <nav class="horizontal-bar buttons">
      <ul>
        <li><a href="/search">Find peers</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="profile">
  <div id="profile-title">
    <a href="https://en.gravatar.com/">
      <img id="profile-image" src=<%= @user.gravatar_url || "/images/portrait_circle.svg" %>>
    </a>
    <h4 id="profile-name"><%= @user.preferred_name || @user.full_name %></h4>
  </div>
  <div id="profile-details">
    <dl id="line-fields">
      <dt>Slack:</dt>
      <dd><%= @user.slack_name %></dd>

      <dt>Track:</dt>
      <dd><%= @user.track %></dd>

      <dt>Course:</dt>
      <dd><%= @user.course %></dd>

      <dt>Timezone:</dt>
      <dd><%= @user.timezone %></dd>
    </dl>
    <div id="block-fields">
      <dt>About me</dt>
      <dd>
        <p>
          <%= @user.about_me %>
        </p>
      </dd>

      <dt>Interested in</dt>
      <dd>
        <ul class="preferences">
        <% @user.preferences.each do |preference| %>
          <li><%= preference["preference"] %></li>
        <% end %>
        </ul>
      </dd>
    </div>
  </div>
</main>
